# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 0f1f9829fc6818dd20845951f8aa403f38ca84a49e659095a0e0b6687f13e4dac115dbb1a34f19a9ade1c2e70cc8a3c444d60a0b9708c8ecc3331932c866f8b9

test:
  secret_key_base: a818eff334d4a5da1ad497a029aa37ea5601de2021283041b1284259982bffdebfc8dff2a69df40038c4ef58f6f96df63fd9aa101fe0acf91756142eac6de4c9

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
